<!DOCTYPE html>
<html>

{% include head.html %}

<body class="ajax-loading" data-site-url="{{ page.url }}/{{ page.baseurl }}" data-page-url="{{ page.url | relative_url }}">

	{% include header.html %}

	{% include loader.html %}

	<div class="page">

		<div class="page__content" data-page-title="{{ page.title }} | {{ site.title }}" data-image="{{ page.image | relative_url }}">

			<section class="intro">

				<div class="wrap">

					<h1>{{ page.title }}</h1>
					<p>{{ page.description }}</p>

				</div>

				<ul>
					{% for post in site.posts %}
					<li>
						{{ post.date | date: "%d %b %y" }} <a href="{{ post.url }}">{{ post.title }}</a>
					</li>
					{% endfor %}
				</ul>


			</section>

		</div>

	</div>

</body>

</html>
